{% extends 'base.html' %}
   
   {% block body %}

   <div style="margin-top: 100px;">
      <div class="container text-center mt-5">
        <h4>Ship With Supriyo Tracking Page</h4>
        <span style="font-style: italic;">Your parcel is being shipped by Ship With Supriyo courier service and your parcel is 100% secure with us.</span>
      </div>
    </div>
    <div class="d-flex justify-content-center" style="margin-top: 70px;">
      <button class="btn btn-sm btn-primary" onclick="location.href='https://wa.me/918597861168?text=I%20came%20from%20your%20website%20and%20I%20want%20to%20try%20your%20service...'"> Click here to send your parcels with us with home pickup</button>
    </div>
      <div class="d-flex justify-content-center" style="margin-top: 50px;">
      <button id="copyButton" class="btn btn-primary shadow shadow-lg" onclick="copyURL()">Copy link</button>
    </div>
              <div class="container mt-5 mb-5 pt-5 pb-5">
                {% if all_messages != "Invalid AWB" %}
                  {% for i in all_messages %}
                  <div class="mt-5">
                  <span>
                    <img style="height: 25px;" src="https://shipwithsupriyo.netlify.app/assets/img/icons/goods.png" alt="..." />
                          &nbsp;
                          <b id="message">{{ i.message }}</b>
                          <br>
                  </span>

                  <span style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                    {{ i.location }}, {{ i.event_time }}
                    <br>
                  </span>
                </div>
                  {% endfor %}
                  
                {% else %}
                <h5 class="text-center">Incorrect AWB Number.</h5> 
                {% endif %} 
              </div>  



                <script>
                  function copyURL() {
                    var currentURL = window.location.href;
                    navigator.clipboard.writeText(currentURL).then(function() {
                  document.getElementById('copyButton').innerText = "Link Copied!";
                  })                    
                  }
                  
                  </script>
                  
{% endblock body %}