{% extends "base.html" %}

{% block body %}

<div class="d-flex justify-content-center">
    <h4 style="padding-top: 140px;">
        Check Pickup serviceability
    </h4>
</div>
<div class="d-flex justify-content-center" style="margin-top: 70px; margin-bottom: 70px;">
    <form id="myForm" method="get">
      <div class="form-group text-center">
        <label>Pincode</label>
        <input type="number" class="form-control" id="pinCode" placeholder="Enter Pincode">
        <button type="submit" class="text-center btn btn-primary mt-3 btn-block">Check</button>
      </div>
    </form>
</div>


    <div class="container d-flex justify-content-center">
        <b style="margin-bottom: 70px;">
            <span style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                {{ message }}
            </span>
        </b>
    </div>


 <script>
    document.getElementById("myForm").addEventListener("submit", function(event) {
      event.preventDefault();
      var formData = document.getElementById("pinCode").value;
      var destination = "/tracking/pickup-check/" + encodeURIComponent(formData);
      window.location.href = destination;
    });
    </script>


{% endblock body %}